SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_key
LLM_PROVIDER=deepseek

DEEPSEEK_API_KEY=your_deepseek_api_key
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-chat

# Gemini 生成模型
GEMINI_API_KEY=your_gemini_api_key
GEMINI_MODEL=gemini-2.5-flash

# Gemini embedding
EMBEDDING_API_KEY=your_gemini_api_key
EMBEDDING_MODEL=gemini-embedding-001
EMBEDDING_DIMENSION=1536


DOUBAO_API_KEY=
DOUBAO_BASE_URL=
DOUBAO_MODEL=

OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL=

